# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
* List popular languages for Data Science
* List open source tools used in data science
* Use RStudio and Jupyter

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Julia
4. JAVA
5. JavaScript

Some of the commonly used libraries used by Data Scientists include:
1. NumPy
2. Pandas
3. Matplotlib
4. Tensorflow

| Data Science Tools |
| ---|
| RStudio |
| Jupyter Notebook |
| Spyder |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [1]:
(3*4)+5
#This a simple arithmetic expression to mutiply then add integers

17

In [2]:
minutes = 200
hours = minutes / 60
#This will convert 200 minutes to hours by diving by 60
print(hours)

3.3333333333333335

## Author
Soumit Jana